<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["TitlePrimary"] - @ViewData["TitleSecondary"]</title>

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
    
    <div class="container-fluid">
        <hr />
        
        <footer class="row">
            <div class="col-4 align-textblock-a">
                @await Html.PartialAsync("SelectLanguagePartial")
            </div>

            <div class="col-4 align-textblock-a">
                &copy; Strive, @DateTime.Now.Year
            </div>

            <div class="col-4 align-textblock-a">
                <a href="#">@Localizer["Contacts"]</a>
            </div>
        </footer>
    </div>
</body>
</html>
