@model Strive.Web.App.ViewModels.Account.ForgotPasswordViewModel

<h2 class="text-center mt-4 mb-5">@Localizer["Header"]</h2>

<div class="row d-flex justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="p-lg-3 p-md-2 p-sm-1 p-1">
            <form method="post"
                  asp-controller="Account"
                  asp-action="ForgotPassword">
                <div class="form-group">
                    <label class="font-weight-bold">@SharedLocalizer["Account-Label-Email"]</label>
                    <input type="text"
                           class="form-control"
                           placeholder="@SharedLocalizer["Account-Placeholder-Email"]"
                           aria-describedby="emailHelp"
                           asp-for="Email" />
                    <small id="emailHelp"
                           class="form-text text-muted">@Localizer["Text-EmailHelp"]</small>
                    </div>

                    <input type="submit"
                           value="@Localizer["Text-SendPasswordResetEmail"]"
                           class="btn btn-success col" />
                </form>
            </div>
        </div>
    </div>
