<h2 class="text-center">@Localizer["Header"]</h2>

<div class="ml-lg-5 ml-md-5 ml-sm-3 ml-1
     mr-lg-5 mr-md-5 mr-sm-3 mr-1
     mt-lg-4 mt-md-4 mt-sm-3 mt-2">
    <div class="d-flex flex-column">
        @await Html.PartialAsync("~/Views/Account/Partial/Description.cshtml")
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="p-lg-3 p-md-2 p-sm-1 p-1">
                <form method="post"
                      asp-controller="Account"
                      asp-action="Login">
                    <div class="form-group">
                        <label class="font-weight-bold">@Localizer["Username"]</label>
                        <input type="text" class="form-control col" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">@Localizer["Email"]</label>
                        <input type="text" class="form-control col" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">@Localizer["Password"]</label>
                        <input type="password" class="form-control col" />
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" />
                        <label class="form-check-label">@Localizer["RememberMe"]</label>
                    </div>

                    <div class="form-group d-flex">
                        <input type="submit"
                               value="@Localizer["LoginButton"]"
                               class="flex-fill btn btn-success mr-2" />
                        <a class="flex-fill btn btn-success"
                           asp-controller="Account"
                           asp-action="Register">@Localizer["RegisterButton"]</a>
                    </div>

                    <div class="form-group text-center">
                        <a class="card-link"
                           asp-controller="Account"
                           asp-action="Restore">@Localizer["AccountRestore"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
