@model Strive.Web.App.ViewModels.Account.Register.RegisterViewModel

<h2 class="text-center">@Localizer["Header"]</h2>

<div class="ml-lg-5 ml-md-5 ml-sm-3 ml-1
     mr-lg-5 mr-md-5 mr-sm-3 mr-1
     mt-lg-4 mt-md-4 mt-sm-3 mt-2">
    <div class="d-flex flex-column">
        @await Html.PartialAsync("~/Views/Account/Partial/Description.cshtml")
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="p-lg-3 p-md-2 p-sm-1 p-1 ">
                <form method="post"
                      asp-controller="Account"
                      asp-action="Register"
                      asp-antiforgery="true">
                    <div class="form-group">
                        <label class="font-weight-bold"
                               asp-for="UserName">@SharedLocalizer["Account-Label-Username"]*</label>
                        <input type="text"
                               placeholder="@SharedLocalizer["Account-Placeholder-Username"]"
                               class="form-control col"
                               asp-for="UserName"/>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold"
                               asp-for="Email">@SharedLocalizer["Account-Label-Email"]*</label>
                        <input type="text"
                               placeholder="@SharedLocalizer["Account-Placeholder-Email"]"
                               class="form-control col"
                               asp-for="Email"/>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold"
                               asp-for="Password">@SharedLocalizer["Account-Label-Password"]*</label>
                        <input type="password"
                               placeholder="@SharedLocalizer["Account-Placeholder-Password"]"
                               class="form-control col"
                               asp-for="Password"/>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold"
                               asp-for="PasswordConfirm">@SharedLocalizer["Account-Label-PasswordConfirm"]*</label>
                        <input type="password"
                               placeholder="@SharedLocalizer["Account-Placeholder-PasswordConfirm"]"
                               class="form-control col"
                               asp-for="PasswordConfirm"/>
                    </div>

                    <div class="form-group d-flex">
                        <input type="submit"
                               value="@SharedLocalizer["Account-Text-Register"]"
                               class="flex-fill btn btn-success" />
                    </div>
                
                    <div class="form-group text-center">
                        <a class="card-link"
                           asp-controller="Account"
                           asp-action="Login">@SharedLocalizer["Account-Text-Login"]</a>
                        <span>@Localizer["LoginSpan"]</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
