@model Strive.Web.App.ViewModels.Account.LoginViewModel

<form method="post"
	  asp-controller="Account"
	  asp-action="Login"
	  asp-antiforgery="true">

	@await Html.PartialAsync("~/Views/Shared/Partial/Forms/ValidationErrorsSummary.cshtml")
	
	@*@todo подумать, нужно ли выносить элементы форм в partial*@

	<div class="form-group">
		<label class="font-weight-bold"
			   asp-for="Email"></label>
		<input type="text"
			   placeholder="@SharedLocalizer["Account-Placeholder-Email"]"
			   class="form-control col"
			   asp-for="Email" />
		<span asp-validation-for="Email"></span>
	</div>

	<div class="form-group">
		<label class="font-weight-bold"
			   asp-for="Password"></label>
		<input type="password"
			   placeholder="@SharedLocalizer["Account-Placeholder-Password"]"
			   class="form-control col"
			   asp-for="Password" />
		<span asp-validation-for="Password"></span>
	</div>

	<div class="form-group form-check">
		<input type="checkbox"
			   class="form-check-input"
			   asp-for="RememberMe" />
		<label class="form-check-label"
			   asp-for="RememberMe"></label>
	</div>

	<div class="form-group d-flex">
		<input type="submit"
			   value="@SharedLocalizer["Account-Text-Login"]"
			   class="flex-fill btn btn-success mr-2" />
		<a class="flex-fill btn btn-success"
		   asp-controller="Account"
		   asp-action="Register">
			@SharedLocalizer["Account-Text-Register"]
		</a>
	</div>

	<div class="form-group text-center">
		<a class="card-link"
		   asp-controller="Account"
		   asp-action="ForgotPassword">
			@SharedLocalizer["Account-Text-ForgotPassword"]
		</a>
	</div>
</form>
